* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 8px 16px;
    box-shadow: 1px 0px 6px rgb(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    margin-bottom: 16px;
}

header h1 {
    color: rgb(32, 32, 32);
}

header nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button {
    background-color: #f5f5f5;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
}

button:hover {
    color: rgb(64, 64, 64);    
}

button:active {
    color: rgb(128, 128, 128);
}

#content {
    text-align: center;
    margin: 0 auto;
    width: 50vw;
}

#content p,
#content h2,
#content ul {
    text-align: left;
    margin-bottom: 2px;
}

#content > p,
#content > ul {
    margin-bottom: 8px;
}

ul {
    list-style: none;
}

img {
    height: 50vh;
    max-width: 100%;
    margin-bottom: 8px;
}
